@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* main style */

*{
    --light: blanchedalmond;
    --lightest: rgb(255, 241, 219);
    --traslucent: rgba(8, 63, 45, 0.692);
    --shadow: rgb(207, 189, 161);
    --dark: rgb(3, 48, 33);
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;

    font-size: 1.2rem;
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;;

    background-color: var(--light);
    color: var(--dark);
}

.small-text{
    font-size: 1rem;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.left-container{
    width: 40%;
    height: inherit;

    position: relative;
}

.left-container img{
    object-fit: cover;
    height: inherit;
}

.logo{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 300px;

    background-color: var(--traslucent);

    font-family: 'norsebold', sans-serif;
    font-size: 3rem;
    color: var(--light);
}

.logo img{
    width: 80px;
}

.left-container p{
    position: absolute;
    bottom: 10px;
    left: 35%;

    padding: 10px;
    border-radius: 3px;

    background-color: var(--traslucent);
    color: var(--light);
}

.right-container{
    display: flex;
    align-items: center;

    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.intro p{
    max-width: 70ch;
    margin-bottom: 10px;
    padding-left: 50px;
}

/* middle section */

.middle-section{
    background-color: var(--lightest);
    padding: 20px 50px;
    box-shadow: 0 5px 10px var(--shadow);
}

.form-items{
    display: flex;
    flex-wrap: wrap;

    margin: 20px 0;

}

.form-items p{
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 15px 80px 0 0;
}

label{
    font-size: 0.8rem;
}

input{
    background-color: var(--lightest);
    border: 2px solid var(--shadow);
    border-radius: 5px;
    outline: none;
}

input:focus{
    border-color: rgb(128, 198, 226);
    box-shadow: 3px 3px 8px var(--shadow);
}

input[type="password"]:invalid{
    border-color: red;
}


input[type="password"]:invalid + span::after{
    content: "⚠ Needs 8 characters or more!";
    font-size: 1rem;
    color: red;
    position: absolute;
    bottom: -30px;
}


/* bottom section */

.finalize{
    display: flex;
    flex-direction: column;

    gap: 30px;
    padding-left: 50px;
}

.finalize button{
    width: 20%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;

    background-color: var(--traslucent);
    color: var(--light);
    border: none;
    border-radius: 10px;

}
