@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css reset */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* main style */

*{
    --light: blanchedalmond;
    --traslucent: rgba(10, 71, 51, 0.61);
    --dark: rgb(3, 48, 33);
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;

    font-size: 1.2rem;

    background-color: var(--light);
    color: var(--dark);
}

.small-text{
    font-size: 1rem;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.left-container{
    width: 40%;
    height: inherit;

    position: relative;
}

.left-container img{
    object-fit: cover;
    height: inherit;
}

.logo{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 300px;

    background-color: var(--traslucent);

    font-family: 'norsebold', sans-serif;
    font-size: 3rem;
    color: var(--light);
}

.logo img{
    width: 80px;
}

.left-container p{
    position: absolute;
    bottom: 10px;
    left: 35%;

    padding: 10px;
    border-radius: 3px;

    background-color: var(--traslucent);
    color: var(--light);
}

.right-container{
    
}